*{
    margin:0;
    padding: 0 ;
    box-sizing: border-box;
}
.bg_background{
    background: rgba(229, 84, 115, 0.10);
}
.banner_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    width:45%
    

}
.banner img {
    width: 350px;
    
}
.banner h1 {
    font-size:48px;
    font-weight: 800;
}
.banner p {
    font-size: 16px;
    margin-top: 10px;
}
.btn_hero {
    width:100px ;
    height: 50px;
    background: #E55473;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
   /* features css design */
.features_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.feature_contain {
    text-align: center;

}
.Flower_container{
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 5px;
       gap: 5px;

}
#bg_back_1 {
 
    background: rgba(167, 33, 98, 0.15);
    height: 350px;
    width: 300px;
}
.flower_box {
    width:30%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}
.flower_box img {
    width:180px;
    height:300px;
    display: block;
    margin: auto;
    padding: 20px;
}
.Flower_parent a {
    display: block;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 20px;
}
/* hot deal sale up  */
span{
    color:#E55473;
    font-weight: bolder;
}
.bg_background_hot{   
       background: rgba(229, 84, 115, 0.05);
       height: 500px;
       padding: 90px;
       margin-bottom: 70px;
}
.hot_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.deal_container h1{
    text-align: center;

}
.deal_container p{
    margin-bottom: 10px;
}
    /* Hot deal section Button */
.btn_hero_1{
    
    width:100px ;
    height: 50px;
    background: #E55473;
    border: none;
    border-radius: 5px;
    margin-top:10px;
    display: block;
    margin: auto;
    
    
    /* sign up  */
}
/* start Instagram Section */
.inst__container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 80px;
      
 }
.text-container__insta{
   text-align: center;
   padding-bottom: 30px;
 }
 .photo__container{
  display: flex;
   justify-content: center;
  align-items: center;
 gap: 20px;
 }
 .photo__box{
  width: 25%;
}
 .photo__box img{
   width: 250px;
 }
 /* End the instagram section */
 .background__container__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 100px;
  
  }
  
  .background__container{
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    background-size: 100% auto;
  
  }
  .shopping__content h3{
      padding: 10px;
  }
  .shopping__content p{
    padding: 10px;
  }
  .subscribe__input__filed{
    display: flex;
    gap: 4px;
  }
  .subscribe__input__filed input{
     padding: 10px 20px;
     width: 400px;
     display: inline-block;
     border: none;
     outline: none;
     
  }
  .subscribe__input__filed button{
    display:inline-block;
    background: #E55473;
    width:100px ;
    height: 50px;
    border:none;
    border-radius: 8px;
  }
  /* flowers content start */
 .flower_description {
    background-color:bisque;
    height: 250px;
    margin-bottom: 80px;
    
 }
 .Description{
    text-align: center;
    margin-top: 20px;
    gap: 20 px;
 }
 .flower{
    text-align: center;
    margin-top:10px;
    padding-top: 20px;
 }
 .more {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 /* flower's content end */
 .footer_main_container{
    background-color: black;
    height: 200px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .footer_container h1{
    text-align: center;
    margin-bottom: 20px;
 }


