*{
    margin:0;
    padding: 0 ;
    box-sizing: border-box;
}
.bg_background{
    background: rgba(229, 84, 115, 0.10);
}
.banner_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
    width:45%
    

}
.banner img {
    width: 350px;
    
}
.banner h1 {
    font-size:48px;
    font-weight: 800;
}
.banner p {
    font-size: 16px;
    margin-top: 10px;
}
.btn_hero {
    width:100px ;
    height: 50px;
    background: #E55473;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
   /* features css design */
.features_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.feature_contain {
    text-align: center;

}
.Flower_container{
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 5px;
       gap: 5px;

}
#bg_back_1 {
 
    background: rgba(167, 33, 98, 0.15);
    height: 350px;
    width: 300px;
}
.flower_box {
    width:30%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}
.flower_box img {
    width:180px;
    height:300px;
    display: block;
    margin: auto;
    padding: 20px;
}
.Flower_parent a {
    display: block;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 20px;
}
/* hot deal sale up  */
span{
    color:#E55473;
    font-weight: bolder;
}
.bg_background_hot{   
       background: rgba(229, 84, 115, 0.05);
       height: 500px;
       padding: 90px;
}
.hot_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.deal_container h1{
    text-align: center;

}
.deal_container p{
    margin-bottom: 10px;
}
.btn_hero_1{
    
    width:100px ;
    height: 50px;
    background: #E55473;
    border: none;
    border-radius: 5px;
    margin-top:10px;
    
    
    /* sign up  */
}
.Instagram_container h1 {
    text-align: center;
}
.Instagram_container p {
    margin-bottom: 10px;
}
.social_container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
